.footer__wrapper {
  display: flex;
  flex-direction: column;
}
footer {  
  z-index: 10;
  width: 100%;
  text-align: center;
  background-color: #444444;
  border-top: 2px solid #dcdcdc;
  color: white;
}
footer p {
  padding: 20px 0; 
}
@media screen and (max-width: 750px) {
  footer {
    display: none;
  }
}
