.main__container {
  display: flex;
  padding: 0 12vw;
  height: 87vh;
}
.sidebar__container {
  flex: 1 1 150px;
  padding: 0 20px;
  border-right: 1px solid #DCDCDC;
  background-color: white;
  height: 100%;
}
.content__container {
  padding: 0 5% 50px 5%;
  flex: 7 1 auto;
  background-color: white;
  overflow-x: visible;
  overflow-y: scroll;
  /* min-height: 688px; */
}



@media screen and (max-width: 1230px) {
  .main__container {
    padding: 0;
  }
  .sidebar__container {
    flex: 0 0 80px;
    padding: 0;
  }
  .content__container {
    flex: 1 1 auto;
  }
}



@media screen and (max-width: 750px) {
  .sidebar__container {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: white;
    width: 100%;
    border-top: solid 1px #DCDCDC;
    z-index: 3;
    padding: 0 30px;
    height: 60px;
  }
  .content__container {
    display: block;
    /* padding-bottom: 300px; */
  }
}

@media screen and (max-width: 500px) {
  .sidebar__container {
    padding: 0 10px;
  }
}
