/* サイドバーナビ */
.sidebar__nav {
  margin-top: 50px;
}
.sidebar__menu-list li {
  font-size: 20px;
  vertical-align: middle;
  white-space: nowrap;
}
.hover-border:hover {
  border-right: 5px solid #00cc99;
}



/* サイドバーアイコン */
.sidebar__icon {
  display: flex !important;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 5px;
  cursor: pointer;
}
.sidebar__icon:before {
  width: 40px;
  text-align: center;
  margin-right: 20px;
}
.fa-book {
  margin: 5px 0;
}
.fa-edit {
  margin-left: 3px;
}
.fa-book::before {
  margin-right: 10px;
}



/* リードアウトボタン */
.readout-button {
  margin-top: 30px;
  margin-left: 0;
  display: inline-block;
}
.readout-button a {
  font-weight: bold;
  color: white;
}
.readout-button li {
  border: 2px solid white;
  border-radius: 1.4rem;
  text-align: center;
  width: 200px;
  padding: 10px;
  background-color: #00CC99;
  cursor: pointer;
}
.readout-button:hover {
  transform: scale(1.05);
  transition: 0.5s;
}

/* リンク制限 */
.login-limit {
  opacity: 0.5;
  text-decoration: line-through; 
}


@media screen and (max-width: 1230px) {
  .sidebar__nav {
    width: 100%;
  }
  .sidebar__menu-list {
    width: 50px;
    margin: 0 auto;
  }
  .sidebar__icon {
    margin-left: 7px;
  }
  .fa-edit {
    margin-left: 10px;
  }
  .fa-book::before {
    margin-right: 0;
  }
  .sidebar__icon:before {
    margin-right: 0;
    padding-right: 3px;
  }
  .readout-button li{
    width: 50px;
    height: 50px;
    border-radius: 2.5rem;
  }
  .middle-response {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  .sidebar__nav{
    margin-top: 0;
    padding-top: 6px;
  }
  .sidebar__menu-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    width: 100%;
  }
  .sidebar__menu-list a {
    margin-right: 13%;
  }
  .sidebar__icon {
    margin-left: 0;
    align-items: baseline;
  }
  .sidebar__icon:before {
    padding-right: 0;
  }
  .readout-button {
    margin-left: 0;
    margin-top: 0;
  }
  .hover-border:hover {
    border-bottom: 5px solid #00cc99;
    border-right: unset;
  }
}

@media screen and (max-width: 500px) {
  .readout-button {
    position: absolute;
    bottom: 70px;
    right: 30px;
    
  }
  .readout-button li {
    padding: 30px;
  }

  .fa-book::before {
    position: absolute;
    bottom: 40px;
    right: 18px;
    font-size: 30px;
  }
  .sidebar__menu-list a {
    margin-top: 6px;
    margin-right: 8%;
  }
  .sidebar__menu-list a:nth-child(4) {
    margin-right: 0;
  }
}
