.account-container {
  width: 100%;
}
.account-box {
  width: 80%;
  margin: 10vh auto;
  text-align: center;
  background-color: white;
  border: 1px solid black;
  border-radius: 0.4rem;
  padding: 30px;
}
.account-title {
  margin-bottom: 30px;
}
.account-input-box {
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.account-input-box input {
  width: 50%;
}
.account-submit-btn {
  margin-top: 30px;
}
.account-submit-btn input {
  background-color: #00cc99;
  border-color: #00cc99;
  border-radius: 0.25rem;
  padding: 5px 10px;
  color: white;
  font-weight: bold;
}
.account-submit-btn a {
  background-color: #00cc99;
  border-color: #00cc99;
  border-radius: 0.25rem;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
}

.account-detail-content {
  display: flex;
  align-items: center;
  justify-content:space-between;
  margin: 0 auto 30px auto;
  width: 60%;
  border-bottom: 1px solid #dcdcdc;
  padding-bottom: 30px;
}
.account-detail-content:first-child {
  border-top: 1px solid #dcdcdc;
  padding-top: 30px;
}
.account-detail-title {
  font-weight: bold;
}
.account-detail-img img {
  width: 60px;
  height: 60px;
  border-radius: 2.5rem;
  object-fit: cover;
  border: 1px solid #dcdcdc;
}
.account-edit-img {
  border: 1px solid #000;
}

.guest_sign_in-area {
  margin-top: 30px;
}
.guest_sign_in-area input  {
  background-color: white;
  border: none;
  color: #1558d6;
}
.guest_sign_in-area input:hover  {
  opacity: 0.5;
}

@media screen and (max-width: 1000px) {
  .account-box {
    width: 80%;
  }
  .account-input-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .account-input-box input {
    width: 60%;
  }
  .account-content label {
    text-align: center;
    white-space: nowrap;
  }
  .account-detail-content {
    width: 85%;
  }
}


@media screen and (max-width: 500px) {
  .account-input-box input {
    width: 100%;
  }

  .account-detail-content {
    width: 100%;
    flex-direction: column;
  }
  .account-detail-title {
    margin-bottom: 20px;
  }
}
