<div class="header__container">
  <div class="header__row flex">
    <div class="header__title row-size">
      <a href="/">
        <%= image_tag 'logo.png' %>
      </a>
    </div>
    <div class="header__sign-link-section row-size">
      <ul class="flex">
        <div class="login-button button button-hover">
            <li><a>ログイン</a></li>
        </div>
        <div class="sign-button button button-hover">  
            <li><a>新規登録</a></li>
        </div>
      </ul>
    </div>
  </div>
</div>


