<div class="notice__container">
  <% if notice %>
    <div class="notice__content">
      <p><%= notice %></p>
    </div>
  <% end %>
  <% if alert %>
    <div class="alert__content">
      <p><%= alert %></p>
    </div>
  <% end %>
</div>
