<nav class="sidebar__nav">
  <ul class="sidebar__menu-list">
    <%= link_to post_index_path do %>
      <i class="fa fa-home sidebar__icon fa-2x hover-border" aria-hidden="true">
        <li class="middle-response">ホーム</li>
      </i>
    <% end %>
    <%= link_to category_index_path do%>
      <i class="fa fa-search sidebar__icon fa-2x hover-border" aria-hidden="true">
        <li class="middle-response">本を探す</li>
      </i>
    <% end %>
    <%= link_to "/post/#{current_user.id}/favorites_list" do %>
      <i class="fa fa-heart sidebar__icon fa-2x hover-border" aria-hidden="true">
        <li class="middle-response">お気に入り</li>
      </i>
    <% end %>
    <%= link_to "/post/user/#{current_user.id}" do %>
      <i class="fa fa-edit sidebar__icon fa-2x hover-border" aria-hidden="true">
        <li class="middle-response">投稿一覧</li>
      </i>
    <% end %>
    <div class="readout-button">
      <a id="readoutBtn">
        <li>
          <i class="fa fa-book" aria-hidden="true"><span class="middle-response">リードアウト</span></i>
        </li>
      </a>
    </div>
  </ul>
</nav>
